## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database-Copy1.csv")
del city_data_df['Weather Score']
del city_data_df['City_ID']
city_data_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Weather Description
0,Bredasdorp,-34.5322,20.0403,50.52,91,0,5.79,ZA,Clear Skies and Light
1,Swan Hill,-35.3378,143.5544,48.49,84,98,9.04,AU,Cool and Cloudy
2,Busselton,-33.6500,115.3333,51.55,74,5,7.14,AU,Clear Skies and Light
3,Salalah,17.0151,54.0924,77.09,94,100,6.91,OM,Warm and Humid
4,La Plaine,15.3333,-61.2500,88.09,55,20,9.22,DM,Slightly cloudy and Cool
...,...,...,...,...,...,...,...,...,...
675,Hamilton,39.1834,-84.5333,83.59,79,100,9.22,US,Warm and Humid
676,Nicoya,10.1483,-85.4520,83.05,72,64,2.66,CR,Cool and Cloudy
677,Kaseda,31.4167,130.3167,79.74,88,41,10.85,JP,Cool and Cloudy
678,Tucuman,-26.8241,-65.2226,78.80,50,75,8.05,AR,Cool and Cloudy
679,Sayyan,15.1718,44.3244,64.11,66,100,4.45,YE,Cool and Cloudy

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 55
What is the maximum temperature you would like for your trip? 75

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
city_data_df = city_data_df.loc[(city_data_df['Max Temp'] >= min_temp) & (city_data_df['Max Temp'] <= max_temp)]
city_data_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Weather Description
6,Rikitea,-23.1203,-134.9692,74.03,72,100,15.08,PF,Warm and Humid
8,Pisco,-13.7000,-76.2167,64.45,77,20,10.36,PE,Slightly cloudy and Cool
13,Yellowknife,62.4560,-114.3525,66.56,59,100,4.00,CA,Cool and Cloudy
26,Thunder Bay,48.4001,-89.3168,63.61,67,100,6.35,CA,Cool and Cloudy
30,Cape Town,-33.9258,18.4232,60.91,72,0,11.01,ZA,Clear Skies and Light
...,...,...,...,...,...,...,...,...,...
659,Tibati,6.4667,12.6333,66.43,96,100,2.46,CM,Warm and Humid
660,Sambava,-14.2667,50.1667,66.38,90,13,7.05,MG,Slightly cloudy and Cool
664,Poronaysk,49.2167,143.1167,56.16,96,100,5.93,RU,Warm and Humid
671,Voi,-3.3945,38.5630,67.73,79,75,8.86,KE,Cool and Cloudy
679,Sayyan,15.1718,44.3244,64.11,66,100,4.45,YE,Cool and Cloudy

In [5]:
# 4a. Determine if there are any empty rows.
city_data_df.count()

City                   258
Lat                    258
Lng                    258
Max Temp               258
Humidity               258
Cloudiness             258
Wind Speed             258
Country                256
Weather Description    258
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
city_data_df.dropna()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Weather Description
6,Rikitea,-23.1203,-134.9692,74.03,72,100,15.08,PF,Warm and Humid
8,Pisco,-13.7000,-76.2167,64.45,77,20,10.36,PE,Slightly cloudy and Cool
13,Yellowknife,62.4560,-114.3525,66.56,59,100,4.00,CA,Cool and Cloudy
26,Thunder Bay,48.4001,-89.3168,63.61,67,100,6.35,CA,Cool and Cloudy
30,Cape Town,-33.9258,18.4232,60.91,72,0,11.01,ZA,Clear Skies and Light
...,...,...,...,...,...,...,...,...,...
659,Tibati,6.4667,12.6333,66.43,96,100,2.46,CM,Warm and Humid
660,Sambava,-14.2667,50.1667,66.38,90,13,7.05,MG,Slightly cloudy and Cool
664,Poronaysk,49.2167,143.1167,56.16,96,100,5.93,RU,Warm and Humid
671,Voi,-3.3945,38.5630,67.73,79,75,8.86,KE,Cool and Cloudy
679,Sayyan,15.1718,44.3244,64.11,66,100,4.45,YE,Cool and Cloudy

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = city_data_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = np.nan
hotel_df

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
6,Rikitea,PF,74.03,Warm and Humid,-23.1203,-134.9692,NaN
8,Pisco,PE,64.45,Slightly cloudy and Cool,-13.7000,-76.2167,NaN
13,Yellowknife,CA,66.56,Cool and Cloudy,62.4560,-114.3525,NaN
26,Thunder Bay,CA,63.61,Cool and Cloudy,48.4001,-89.3168,NaN
30,Cape Town,ZA,60.91,Clear Skies and Light,-33.9258,18.4232,NaN
...,...,...,...,...,...,...,...
659,Tibati,CM,66.43,Warm and Humid,6.4667,12.6333,NaN
660,Sambava,MG,66.38,Slightly cloudy and Cool,-14.2667,50.1667,NaN
664,Poronaysk,RU,56.16,Warm and Humid,49.2167,143.1167,NaN
671,Voi,KE,67.73,Cool and Cloudy,-3.3945,38.5630,NaN
679,Sayyan,YE,64.11,Cool and Cloudy,15.1718,44.3244,NaN

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
# Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
      
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.

hotel_df = hotel_df.dropna()
hotel_df

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
6,Rikitea,PF,74.03,Warm and Humid,-23.1203,-134.9692,People ThankYou
8,Pisco,PE,64.45,Slightly cloudy and Cool,-13.7000,-76.2167,Hotel San Isidro Oficial
13,Yellowknife,CA,66.56,Cool and Cloudy,62.4560,-114.3525,The Explorer Hotel
26,Thunder Bay,CA,63.61,Cool and Cloudy,48.4001,-89.3168,Victoria Inn Hotel and Convention Centre
30,Cape Town,ZA,60.91,Clear Skies and Light,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
...,...,...,...,...,...,...,...
659,Tibati,CM,66.43,Warm and Humid,6.4667,12.6333,Tibati Hotel
660,Sambava,MG,66.38,Slightly cloudy and Cool,-14.2667,50.1667,Melrose
664,Poronaysk,RU,56.16,Warm and Humid,49.2167,143.1167,Avtovokzal Khostel Stolovaya
671,Voi,KE,67.73,Cool and Cloudy,-3.3945,38.5630,Voi Wildlife Lodge
679,Sayyan,YE,64.11,Cool and Cloudy,15.1718,44.3244,متنزه و بحيرة سيان

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

<dl>

<dt>Hotel Name</dt><dd>{Hotel Name}</dd>

<dt>City</dt><dd>{City}</dd>

<dt>Country</dt><dd>{Country}</dd>

<dt>Max Temp</dt><dd>{Max Temp} °F</dd>

</dl

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [12]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))